name: Trigger Workflows

on:
  schedule:
    - cron: "30 0 * * *" # 12:30 AM UTC
  workflow_dispatch:

jobs:
  trigger:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Trigger APK build
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.repos.createDispatchEvent({
              owner: context.repo.owner,
              repo: context.repo.repo,
              event_type: 'check-for-update'
            })