name: Trigger Workflows

on:
  workflow_dispatch: #Using https://console.cron-job.org for schedule

jobs:
  trigger:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Trigger nightly build
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.repos.createDispatchEvent({
              owner: context.repo.owner,
              repo: context.repo.repo,
              event_type: 'trigger-nightly',
              client_payload: {}
            })
